.ql-container {
  border: none !important;
  font-family: Inter, sans-serif;
}

.ql-toolbar {
  border: none !important;
  background-color: #1C1E28;
  border-bottom: 1px solid black !important;
  border-top: 1px solid black !important;

  width: auto;
  color: white;
}

.ql-toolbar .ql-fill {
  fill: white;
}

.ql-toolbar .ql-stroke {
  stroke: white;
}

.ql-toolbar .ql-picker {
  color: #fff;
}

.ql-toolbar .ql-picker-options {
  color: black !important;
  /* Ensure dropdown items have a black color */
  background-color: white;
  /* Optional: Set the background of the dropdown to white */
}



/* Customize the editor area */
.ql-editor {
  min-height: calc(100vh - 170px);
  /* 100px is the height of the header/footer combined */
  max-height: calc(100vh - 170px);
  overflow-y: auto;
  /* Enable vertical scrolling if content overflows */
  font-size: 16px;
  line-height: 1.6;
  border: none !important;
}

/* Example for customizing text styling */
.ql-editor h1 {
  font-size: 24px;
}

.ql-editor p {
  margin-bottom: 10px;
}
